{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <title>Wolf Project</title>
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/conservation">Conservation</a> |
        <a href="/yellowstonewolves">Yellowstone Wolves</a> |
        <a href="/yourstory">Your Story</a> |
        {% if user.is_authenticated %}
            <span>Hello, {{user.username}}</span>
            <a href="{% url 'logout' %}">Logout</a> |
        {% else %}
            <a href="{% url 'login' %}">Log In</a> |
            <a href="{% url 'signup' %}">Sign Up</a> |
        {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>