{% extends 'base.html'%}
{% block content%}

<h1>Conservation Page</h1>

<h2>Doug Smith Video's</h2>

<video width="720" height="576" controls>
    <source src="../static/styles/images/videos/yell-Q1-DougSmith3_1280x720.mp4">
</video>

<br>

<video width="720" height="576" controls>
    <source src="../static/styles/images/videos/yell-Q2-DougSmith1_1280x720.mp4">
</video>

<br>

<video width="720" height="576" controls>
    <source src="../static/styles/images/videos/yell-Q5-DougSmith_1280x720.mp4">
</video>


{% endblock %}