{% extends 'base.html'%}
{% block content%}

<h1>Wolf Project Home</h1>

<h3>About:</h3>
<div class="concopy">
    <p>
        This website was created as a resource for anyone who is curious to learn more about the wolves of Yellowstone and the impact of the wolf restoration project. On the Conservation page you’ll find a brief statement outlining the inspiration for the wolf project and its impact, there are links to more resources at the bottom of the page for anyone wanting to learn more.  On this site you’ll also find information on the Yellowstone wolf packs themselves and a page where visitors can upload photos and share stories of their own experiences visiting the wolves of Yellowstone. 
    </p>
</div>
{% endblock %}