{% extends 'base.html'%}
{% block content%}

<h1>Your Story Page</h1>


<div>
    <a href="{% url 'yourstory_create' %}"> Add Story </a>
</div>


{% for story in storys %}

<img width="500" height="375" src="{{story.story_Img.url}}" alt="{{story.name}}">

<h2>{{story.title}}</h2>
<div class="copy">
    <p class="story">{{story.story}}</p>
</div>
<h5>{{story.user}}</h5>
<div>
    <a href="{% url 'yourstory_update' story.pk %}">Update Post</a>
</div>
<div>
    <a href="{% url 'yourstory_delete' story.pk%}">Delete Post</a>
</div>

{% empty %}

 <p>There is no information :(.</p>

{% endfor %}

{% endblock %}