body {
    background-color: rgb(57, 183, 141);
    justify-content: center;
    text-align: center;
}
nav {
    background-color: antiquewhite;
}
.map{

    max-height: 1000px;
    max-width: 850px;
}
