body {
    background-color: #85917D;
    justify-content: center;
    text-align: center;
    color: black;
}
nav {
    background-color: #82afdad0;
    color: white;
}
.map{

    max-height: 1000px;
    max-width: 850px;
}

.concopy{
    margin-top: 25px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 25px;
    text-align: left;
}

.header{
    margin-top: 30px;
}
/* .imageContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
} */
 .gridContainer{
     margin-top: 20px;
     display: grid;
     grid-template-columns: 33% 33% 33%;
 }
a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: rgb(237, 235, 235);
}
.detail{
    background-color:  #82afda95;
    margin-top: 50px;
    max-width: 800px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;

}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy{
    margin-left: 400px;
    margin-right: 400px;

}

.pack{
    background-color: #82afdad0;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    border-width: 1px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
.image{
    margin-top: 18px;
}
.pack:hover{
    transform: scale(1.08);
}
/* @media only screen and (max-width: 768px) {
    #grid {
      grid-template-columns: 1fr;
    }
  }
  @media only screen and (min-width: 769px) and (max-width: 1000px) {
      #grid {
        grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (min-width: 1001px) and (max-width: 1500px) {
    #grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  } */